<!-- the book animation -->
<div class="card" style="margin-top: 150px;">
    <div class="imgBox">
        <div class="bark"></div>
        <img src="/assets/img/revolutioncover.jpg">
    </div>
    <div class="details">
        <h4 class="color1">Free Speech !!!</h4>
        <br>
        <p>Dear {{namefromparent}},</p>
        <p>We demand freedom of speech</p>
        <p>And we got it since 2011</p>
        <p>Today, our only gain from this </p>
        <p>Revolution is being taken away by</p>
        <p>Thiefs who seek no good for us</p>
        <p>We must fight everyday for it</p>
        <p>would you join me ? :)</p>
        <p class="text-right">I hope you do, Sincerely</p>
        <p class="text-right">♥Yassine</p>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="passData()">YES LET ME IN !</button>
        </div>
    </div>
</div>
