<div class="container">

  <div *ngIf="childData">
    <h1 class="text-center">{{ childData +"!! LET THE JOURNEY BEGINS :)" }}</h1>
  </div>
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1 class="text-center">Welcome to Boulbi</h1>
      <h4 class="text-center"> This place is for ambitious writers who want their voice heard around the world!</h4>
      
      <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Enter Your Name</span>
              </div>
              <input [(ngModel)]="namefromparent" class="form-control" aria-describedby="basic-addon3">
            </div>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>
    
      <app-bookhome [namefromparent]="namefromparent" (notify)="parentMethod($event)"></app-bookhome>
      
    </div>
    

  </div> <!-- /container -->